<div>
    <h1>Review Flight Details</h1>
    Airlines: {{data?.flight?.operatingAirlines}}<br>
    From: {{data?.flight?.departureCity}}<br>
    To: {{data?.flight?.arrivalCity}}<br>
    Date of Departure: {{data?.flight?.dateOfDeparture}}<br>
    Departure Time: {{data?.flight?.estimatedDepartureTime}}<br>

    <h1>Passenger Details</h1>
    First Name: {{data?.passenger?.firstName}}<br>
    Last Name: {{data?.passenger?.lastName}}<br>
    Email: {{data?.passenger?.email}}<br>
    Phone Number: {{data?.passenger?.phone}}<br>

    <h1>Enter the number of Bags to checkIn:<input type="text" [(ngModel)]="noOfBags"/></h1><br/>
    <button class="button" (click)="checkin(noOfBags)">Check In</button>
</div>
